<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:remove="all">[LogibizTech] Merchant Creation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<span style='font-family: Calibri;font-size:26px;color: #3F3F3F;'><b>Logibiz Technologies</b></span><br><br>
	<span style="font-family: Calibri;font-size: 16px;color:black;"><span style='line-height: 2;color:black;'>Hello,<br>
			Congratulations on signing up with Logibiz Technologies!</span><br><span style='line-height: 2;color:black;'>We are super excited to have you on board! You will
			receive an activation email along with the credentials.</span ><br>
		<span style='color:black;'>For more help, feel free to contact us at <a
				href="mailto:info@logibiztech.com">info@logibiztech.com</a> or visit <a
				href='https://www.logibiztech.com'>https://www.logibiztech.com</a>.</span><br><br>
		<span style='line-height: 1.6;color:black;'>Thanks,<br> Team Logibiz</span>
	</span>
</body>