<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:remove="all">[LogibizTech] Please reset your password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    
    <div style='color: #212529'>
    <p style='font-family: Calibri; font-size:17px'><b>Logibiz Technologies</b></p>
    <p style='font-family: Calibri; font-size:17px'>Hello,<br><br>We received a request to reset the password for the 
    account associated with <span th:text= "${emailId}"></span >. To reset your password,
	click on the button below. The link will be expired after 1 hour.</p><br>
	<center><button style='background-color: #005A7F; width:27%;height:37px;border-radius:10px;font-family: Calibri;font-weight: bold;font-size:18px;'>
	<a th:href='${link}' style='color:white; text-decoration:none;' "+">Reset your password</a></center></button>"
	<br><p style='font-family: Calibri;font-size:17px'>If you do not want to change your password or didn't request a reset, you can ignore and delete this email.<br>
	<br> For any query or help, please visit <a href ='https://www.logibiztech.com'>https://www.logibiztech.com</a>.<br>
	<br> Thanks,<br>Team Logibiz</p></div>
    </body>